<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">-->
  <!--<script language="Javascript" type=text/javascript src="{{url_for('static', filename='js/login_alert.js') }}"></script>-->
  <style>
    .modal-content {
      background-color: darkcyan;
    }

    .btn-link {
      color: white;
    }

    .modal-heading h2 {
      color: #ffffff;
    }
  </style>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Delivery Application</title>
  {% endif %}
</head>

<body>
  <div class>
    <div class="modal-dialog">
      <h1 class="text-center">Kanishka Delivery Service</h1>
      <div class="modal-content">
        <div class="modal-heading">
          <h2 class="text-center">Login for Admin</h2>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
          {{messages[0]}}
        </div>
        {%  endif  %}
        {% endwith %}
        <div class="modal-body">
          <form action="/admin" method="POST" role="form">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" placeholder="Email" name="email" id="email" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" class="form-control" placeholder="Password" name="password" id="password" />

              </div>

            </div>

            <div class="form-group text-center">
              <button type="submit" class="btn btn-success btn-lg">Login</button>
              <a href="#" class="btn btn-link">Forgot Password</a>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</body>

</html>