{% extends "admin_layout.html" %}
{% block content %}
<br>
<div class="text-black text-center">
  List of Available Delivery Agents
</div>
<br>
<div class="container card text-left text-white bg-dark">
  <div class="row card-body">
    <div class="col">
      Agent Name
    </div>
    <div class="col">
      Phone No
    </div>
  </div>
</div>
{% for agent in agents %}
{% if agent.is_working == True %}
{% set status = 'Available' %}
{% set badge_type = 'primary' %}
{% else %}
{% set status = 'Un-Available' %}
{% set badge_type = 'danger' %}
{% endif %}
<div class="container card text-primary">
  <a class="nav-item nav-link" href="{{ url_for('main.assign_order', order_id=order_id, user_id=agent.id) }}">
    <div class="row card-body">
      <div class="col">
        {{ agent.username }}
      </div>
      <div class="col">
        {{ agent.phone_no }}
      </div>
    </div>
  </a>
</div>
{% endfor %}
{% endblock content %}