{% extends "admin_layout.html" %}
{% block content %}
{% if agent %}
{% set assign_btn_label = 'Re-Assign' %}
{% else %}
{% set assign_btn_label = 'Assign' %}
{% endif %}
{% if agent.is_working == True %}
{% set status = 'Available' %}
{% set badge_type = 'primary' %}
{% else %}
{% set status = 'Un-Available' %}
{% set badge_type = 'danger' %}
{% endif %}
<br><br>
<script>
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  async function statusUpdate() {
    var delay = 3500;
    console.log('Sleeping for ' + delay + ' ms...')
    await sleep(delay);
    console.log('Sleep done, moving on.')
    $.ajax({
      type: 'GET',
      url: "{{ url_for('main.get_order_status', order_id=order.id) }}",
      success: function (response) {
        $('#div_status').html(response);
        console.log('Updated status element.')
      }
    });
  }
</script>
<div class="container">
  <div class="container card text-left text-white bg-dark">
    <div class="row card-body">
      <div class="col">
        Order ID
      </div>
      <div class="col">
        Status
      </div>
      <div class="col">
        Tip
      </div>
    </div>
  </div>
  <div class="container card">
    <div class="row card-body">
      <div class="col">
        {{ order.id }}
      </div>
      <div class="col" id="div_status">
        <span class="badge badge-dark">{{ order.status }}</span>
      </div>
      <div class="col">
        <span class="badge badge-dark">
          {% if order.user_tip %}
          ${{order.user_tip}}
          {% else %}
          $0
          {% endif %}
        </span>
      </div>
    </div>
  </div>
  <br>
  {% if agent %}
  <div class="container card text-center text-white bg-dark">
    Assignee
  </div>
  <div class="container card">
    <a class="nav-item nav-link" href="{{ url_for('main.agent', agent_id=agent.id) }}">
      <div class="row card-body">
        <div class="col">
          {{ agent.username }}
        </div>
        <div class="col">
          {{ agent.phone_no }}
        </div>
        <div class="col">
          <span id="span_status" class="badge badge-{{ badge_type }}">{{ status }}</span>
        </div>
      </div>
    </a>
  </div>
  <br>
  {% else %}
  <div class="text-black text-center font-weight-bold">
    This order is currently unassigned.
  </div>
  <br>
  {% endif %}
  <div class="container card text-center text-white bg-dark">
    Delivery Details
  </div>
  <div class="container card">
    <div class="row card-body">
      <div class>
        <strong>{{ order.cust_name }}</strong>
        <br>
        {{ order.cust_addr1 }}
        <br>
        {% if order.cust_addr2 %}
        {{ order.cust_addr2 }}
        <br>
        {% endif %}
        {{ order.cust_pincode }}
        <br>
      </div>
    </div>
  </div>
  {% if order.delivery_instructions %}
  <br>
  <div class="container card text-center text-white bg-dark">
    Delivery Instructions
  </div>
  <div class="container card">
    <div class="row card-body">
      <div class>
        {{ order.delivery_instructions }}
      </div>
    </div>
  </div>
  {% endif %}
  <br><br>
  <div class="container card text-center">
    <div class="row card-body">
      <div class="col col-md-6">
        <a class="btn btn-dark btn" href="{{ url_for('main.assign_view', order_id=order.id) }}">{{ assign_btn_label }}
          Order</a>
      </div>
      <div class="col col-md-6">
        <a class="btn btn-dark" href="tel:{{order.phone}}"><span
            class="fa fa-phone">&nbsp;<strong>Phone</strong></span></a>
      </div>
    </div>
    <div class="row card-body">
      <div class="col col-md-4">
        <div class="btn-group">
          <button type="button" id="status_update_btn" onclick="javascript:statusUpdate()"
            class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Update Status
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"
              href="{{ url_for('main.update_order_status',order_id=order.id, status_option='accepted') }}">Accepted</a>
            <a class="dropdown-item"
              href="{{ url_for('main.update_order_status',order_id=order.id, status_option='cooking') }}">Preparing your
              meal</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
              href="{{ url_for('main.update_order_status',order_id=order.id, status_option='eta_30') }}">Your Order is
              30 Minutes Away</a>
            <a class="dropdown-item"
              href="{{ url_for('main.update_order_status',order_id=order.id, status_option='eta_10') }}">Your Order is
              10 Minutes Away</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
              href="{{ url_for('main.update_order_status',order_id=order.id, status_option='reached') }}">Your Order has
              reached your location</a>
            <a class="dropdown-item"
              href="{{ url_for('main.update_order_status',order_id=order.id, status_option='delivered') }}">Order
              Delivered</a>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <a class="btn btn-dark btn" href="{{ url_for('main.edit_order', order_id=order.id) }}">Edit Order</a>
      </div>
      <div class="col col-md-4">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal">
          Delete
        </button>
      </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog"
      aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmModalLabel">Delete Order {{order.id}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this order?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger"
              onclick="window.location.href='{{ url_for('main.delete_order', order_id=order.id) }}';">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock content %}